/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  width: 70%;
  display: flex;
  margin: 0 auto;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  min-height: 120px;
  background-color: rgb(49 97 224);

  /* DEBUG 
  background-color: rgb(170, 227, 227);
  */
}

.header-left {
  flex-grow: 1;
  padding: 10px;
  align-content: center;
  background-color: rgb(49 97 224);

  /* DEBUG 
  background-color: rgb(238, 238, 133);
  border: 1px dashed black;*/
}

.header-center {
  flex-grow: 5;
  text-align: center;
  padding: 15px;
  align-content: center;
  background-color: rgb(49 97 224);

  /* DEBUG 
  background-color: rgb(238, 238, 133);
  border: 1px dashed black;*/
}

a {
  text-decoration: none;
  margin: 15px;
  color: white;
  font-size: 1.1rem;
}

.login-button {
  padding: 10px 15px;
  background-color: white;
  border-radius: 25px;
  color: black;
}

.header-right {
  flex-grow: 1;
  text-align: end;
  padding: 15px;
  align-content: center;
  background-color: rgb(49 97 224);

  /* DEBUG 
  background-color: rgb(238, 238, 133);
  border: 1px dashed black;*/
}

/* NAV */
nav {
  display: flex;
  align-items: center;
  min-height: 600px;
  background-image: url(../img/jumbo.png);
  background-size: cover;

  /* DEBUG 
  background-color: rgb(4, 4, 112);*/
}

.nav-container {
  width: 55%;
  margin: 0 auto;
  height: 500px;

  /* DEBUG 
  background-color: violet;
  border: 1px dashed black;*/
}

h1 {
  margin-top: 40px;
  font-size: 3.3rem;
  color: white;
  text-align: center;
}
.description {
  margin: 60px;
  font-size: 1.3rem;
  line-height: 30px;
  color: white;
  text-align: center;
}

.nav-button {
  display: flex;
  justify-content: center;
}

.download {
  padding: 15px 20px;
  font-size: 1.3rem;
  background-color: white;
  border-radius: 35px;
  color: black;
}

.download::before {
  content: "\1F817";
  padding: 0px 10px;
  padding-left: 0;
}

.open {
  padding: 15px 20px;
  font-size: 1.3rem;
  background-color: rgb(35 39 42);
  border-radius: 35px;
  color: white;
}

/* MAIN */

section {
  display: flex;
  align-items: center;

  /* DEBUG */
  min-height: 600px;
}

.section-left {
  width: 60%;
  height: 500px;
  align-content: center;

  /* DEBUG */
  background-color: rgb(132, 171, 171);
  border: 1px dashed black;
}

.section-right {
  width: 40%;
  height: 500px;
  align-content: center;

  /* DEBUG */
  background-color: pink;
  border: 1px dashed black;
}

.odd {
  background-color: white;
}

.even {
  background-color: grey;
}

.reverse {
  flex-direction: row-reverse;
}

.big-section {
  display: flex;
  height: 1100px;
}

.section-center {
  width: 100%;
  height: 1000px;
  align-items: center;

  /* DEBUG */
  background-color: rgb(2, 92, 2);
  border: 1px dashed black;
}

/* FOOTER */

.foot-back {
  display: flex;
  height: 750px;
  align-items: flex-start;
  padding-top: 10px;
  background-color: rgb(31, 30, 30);
}

.foot-left {
  width: 40%;
  height: 700px;
  align-content: center;

  /* DEBUG */
  background-color: rgb(241, 156, 171);
  border: 1px dashed black;
}

.foot-right {
  width: 15%;
  height: 700px;
  align-content: center;

  /* DEBUG */
  background-color: rgb(0, 128, 119);
  border: 1px dashed black;
}

.foot-bot {
  display: flex;
  align-items: flex-end;
  height: 150px;

  /* DEBUG */
  border-top: 1px solid white;
  background-color: rgb(31, 30, 30);
}

.foot-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  height: 120px;

  /* DEBUG */
  background-color: aquamarine;
  border: 1px dashed black;
}

.foot-logo {
  display: flex;
  align-items: center;
  height: 25px;
  padding: 15px;

  /* DEBUG */
  background-color: pink;
  border: 1px dashed black;
}

.foot-button {
  display: flex;
  align-items: center;
  height: 25px;
  padding: 15px;

  /* DEBUG */
  background-color: pink;
  border: 1px dashed black;
}
